name: Version Shell

on:
  push:
    branches:
      - 'team/shell/**'
    paths:
      - 'packages/shell/**'

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm version patch -w @microshop/shell
      - run: git push --follow-tags
